@font-face {
    font-family: "ralewayMedium";
    src: url(./Fonts/Raleway/Raleway-Medium.ttf);
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.about-button{
    position: absolute;
    top: 3%;
    left: 2%;
    width: 70px;
    height: 60px;
    box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
    background: url(./Images/glasses.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    /* animation: bgColor 1s linear infinite;
    -webkit-animation: bgColor 1s linear infinite; */
    animation-play-state: paused;
    background-color: #ffac00;   
    transition: transform 0.3s ease;
}
@media (hover: hover) {
    .about-button:hover{
        background: url(./Images/glasses2.png);
        background-color: rgb(226, 17, 226);
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;
        /* animation-play-state: running; */
        box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
        transform: translate(5px, 5px);
    }
}
.about-button-clicked{
    position: absolute;
    top: 3%;
    left: 2%;
    width: 70px;
    height: 60px;
    cursor: pointer;
    background: url(./Images/glasses2.png);
    background-color: rgb(226, 17, 226);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
    /* animation-play-state: running; */
    transition: transform 0.3s ease;
}
@media (hover: hover) {
    .about-button-clicked:hover{
        background: url(./Images/glasses.png);
        background-color: #ffac00;   
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
        /* animation-play-state: running; */
        box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
        transform: translate(5px, 5px);
    }
}
@keyframes bgColor{
    0%{
        background-color: #c5183b;
    }
    49%{
        background-color: #c5183b;
    }
    50%{
        background-color: #3b919b;
    }
    100%{
        background-color: #3b919b;
    }
} 
@-webkit-keyframes bgColor{
    0%{
        background-color: #c5183b;
    }
    49%{
        background-color: #c5183b;
    }
    50%{
        background-color: #3b919b;
    }
    100%{
        background-color: #3b919b;
    }
} 
.header-container{
    position: absolute;
    top: 3%;
    left: 2%;
    width: 70px;
    height: 60px;
    box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
    background: url(./Images/home-blank.png);
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffac00;   
    cursor: pointer;
    transition: transform 0.3s ease;
}
@media (hover: hover) {
    #header-container-four:hover{
        background: url(./Images/home-filled-white.png);
        background-size: 45%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #c5183b;   
        box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
        transform: translate(5px, 5px);
    }
    #header-container-eight:hover{
        background: url(./Images/home-filled-white.png);
        background-size: 45%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #3b919b;   
        box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
        transform: translate(5px, 5px);
    }
}
.home-container{
    background-color: white;
    padding: 50px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.100);
}
.logo-container{
    width: 290px;
    height: 100px;
    background: url(./Images/Baksa.png);
    background-size: cover;
    margin-bottom: 10px;  
}
.rule{
    margin-bottom: 40px;
    font-family: "ralewayMedium";
    font-size: 15px;
    text-align: center;
}
.select-mode-statement{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "ralewayMedium";
    font-size: 15px;
    text-align: center;
}
.grid-buttons-container, .mode-buttons-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.grid-button, .mode-button{
    border: none;
    width: 150px;
    height: 50px;
    font-family: -apple-system, BlinkMacSystemFont,
                 'Segoe UI', Roboto, Oxygen, Ubuntu,
                 Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #ffac00;
    box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
    cursor: pointer;
    transition: transform 0.3s ease;
}
@media (hover: hover) {
    .grid-button:hover, .mode-button:hover{
        color: white;
        box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
        transform: translate(5px, 5px);
    }
    #four-button:hover, #custom-room-button:hover{
        background-color: #c5183b;
    }
    #eight-button:hover, #vs-comp-button:hover{
        background-color: #3b919b;
    }
}
#four-button-chosen{
    background-color: #c5183b;
    color: white;
    box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
    transform: translate(5px, 5px);
}
#eight-button-chosen{
    background-color: #3b919b;
    color: white;
    box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
    transform: translate(5px, 5px);
}
/* #custom-room-button:hover{
    background-color: black;
    color: white;
    transform: translate(5px, 5px);
} */
.center-container{
    background-color: white;
    padding: 50px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.100);
    position: relative;
}
.score-container{
    display: flex;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}
.hide-score-container{
    display: none;
}
.hide-grid{
    display: none;
}
.hide-game-over{
    display: none;
}
.show-game-over{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-leave-message{
    font-family: "ralewayMedium";
    font-size: 15px;
    margin: 10px 0px;
}
.winner-outer-container{
    width: 160px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.winner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: white;
    box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}
.winner-text-container{
    width: 100%;
    /* width: 80%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    transition: all 0.2s ease-in-out;
}
.winner-text{
    font-family: -apple-system, BlinkMacSystemFont,
                 'Segoe UI', Roboto, Oxygen, Ubuntu,
                 Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.share-image-container{
    display: inline-block;
    width: 40px;
    height: 50px;
    margin-left: 5px;
    background: url(./Images/share.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-left: solid 3px black;
}
#red-winner-container{
    background-color: #c5183b;
}
#blue-winner-container{
    background-color: #3b919b;
}
#draw-winner-container{
    background-color:rgb(0, 0, 0);
    border: solid 1px white;
}
@media (hover: hover) {
    #draw-winner-container:hover{
        border: none;
    }
    .winner-container:hover{
        box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
        transform: translate(5px, 5px);
    }
    .winner-container:hover:before{
        opacity: 1; 
        transform: translate(0,0);
    }
    .winner-container:before{
        content: attr(data-hover);
        position: absolute;
        top: 1.1em; 
        left: 0;
        width: 100%;
        font-family: -apple-system, BlinkMacSystemFont,
                    'Segoe UI', Roboto, Oxygen, Ubuntu,
                    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        opacity: 0;
        transform: translate(100%,0);
        transition: all 0.2s ease-in-out;
    }
    .winner-container:hover .winner-text-container{
        opacity: 0; 
        transform: translate(-100%,0)
    }
}
.score{
    margin: 0;
    font-size: 20px;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}
#score-red{
    color: #c5183b;
}
#score-blue{
    color: #3b919b;
}
#turn-score-red{
    /* padding: 5px 15px 15px 5px; */
    box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
    transform: translate(5px, 5px);
    background-color: #c5183b;
    color: white;
}
#turn-score-blue{
    /* padding: 5px 15px 15px 5px; */
    box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
    transform: translate(5px, 5px);
    background-color: #3b919b;
    color: white;
}

.horizontal-bar-container, .vertical-bar-container{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}
.dot-i-red, .dot-ui-red, .dot-i-blue, .dot-ui-blue{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #ffac00;
}
.horizontal-bar-i-red, .horizontal-bar-ui-red, .horizontal-bar-i-blue, .horizontal-bar-ui-blue{
    opacity: 0.8;
    display: inline-block;
    width: 60px;
    height: 8px;
    background-color: #0000006d;
}
.vertical-bar-i-red, .vertical-bar-ui-red, .vertical-bar-i-blue, .vertical-bar-ui-blue{
    opacity: 0.8;
    display: inline-block;
    width: 8px;
    height: 60px;
    background-color: #0000006d;
}
.box-i-red, .box-ui-red, .box-i-blue, .box-ui-blue{
    width: 60px;
}
.big-grid-dot-i-red, .big-grid-dot-ui-red, .big-grid-dot-i-blue, .big-grid-dot-ui-blue{
    opacity: 0.8;
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #ffac00;
}
.big-grid-horizontal-bar-i-red, .big-grid-horizontal-bar-ui-red, .big-grid-horizontal-bar-i-blue, .big-grid-horizontal-bar-ui-blue{
    opacity: 0.8;
    display: inline-block;
    width: 50px;
    height: 6px;
    background-color: #0000006d;
}
.big-grid-vertical-bar-i-red, .big-grid-vertical-bar-ui-red, .big-grid-vertical-bar-i-blue, .big-grid-vertical-bar-ui-blue{
    display: inline-block;
    width: 6px;
    height: 50px;
    background-color: #0000006d;
}
.big-grid-box-i-red, .big-grid-box-ui-red, .big-grid-box-i-blue, .big-grid-box-ui-blue{
    width: 50px;
}
@media (hover: hover) {
    .horizontal-bar-i-red:hover, .vertical-bar-i-red:hover{
        opacity: 0.5;
        background-color: #c5183b;
        cursor: pointer;
    }
    .big-grid-horizontal-bar-i-red:hover, .big-grid-vertical-bar-i-red:hover{
        opacity: 0.5;
        background-color: #c5183b;
        cursor: pointer;
    }
    .horizontal-bar-i-blue:hover, .vertical-bar-i-blue:hover{
        opacity: 0.5;
        background-color: #3b919b;
        cursor: pointer;
    }
    .big-grid-horizontal-bar-i-blue:hover, .big-grid-vertical-bar-i-blue:hover{
        opacity: 0.5;
        background-color: #3b919b;
        cursor: pointer;
    }
}

/* Rooms Screen 1 */
.rooms-main-container{
    background-color: white;
    padding: 50px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.100);
}
.create-room-container{
    width: fit-content;
    height: fit-content;   
    margin-bottom: 50px;
}
.join-room-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.room-input{
    border: solid 1px black;
    width: 128px;
    height: 48px;
    padding: 0px 10px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Oxygen, Ubuntu,
                Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    cursor: text;
    transition: all 0.1s ease;
    box-shadow: 5px 5px 0px 1px black;
}
@media (hover: hover) { 
    .room-input:hover{
        background-color: #ffac00;
    }
}
.create-room, .join-room{
    border: none;
    width: 150px;
    height: 50px;
    font-family: -apple-system, BlinkMacSystemFont,
                 'Segoe UI', Roboto, Oxygen, Ubuntu,
                 Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #ffac00;
    box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.create-room::after{
    content: "Create Room";
}
@media (hover: hover) {
    .create-room:hover, .join-room:hover{
        transform: translate(5px, 5px);
        box-shadow: 0px 0px 0px 2px black;
        color: white;
    }
    .create-room:hover{
        background-color: #c5183b;
    }
    .create-room:hover::after{
        content: "Share ID";
    }
    .join-room:hover{
        background-color: #3b919b;
    }
}
.room-id-container{
    font-family: -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Oxygen, Ubuntu,
                Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: black;
    width: 148px;
    height: 48px;
    border: 1px solid white;
    box-shadow: 5px 5px 0px 1px black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: transform 0.3s ease;

}
@media (hover: hover) {
    .room-id-container:hover span{
        display: none;
    }
    .room-id-container:hover::before{
        content: "COPY";
    }
    .room-id-container:hover{
        cursor: pointer;
        transform: translate(5px, 5px);
        box-shadow: 0px 0px 0px 2px black;
    }
}
.room-id-statement{
    margin-top: 40px;
    margin-bottom: 0;
    font-family: "ralewayMedium";
    font-size: 15px;
    text-align: center;
}
.waiting-icon-container{
    width: 100px;
    height: 100px;
    background: url(./Images/icons8-waiting-room-96.png);
}

.Toastify__toast{
    border-radius: 0px !important;
    background-color: black !important;
    border: 1px solid white !important;
    box-shadow: 5px 5px 0px 1px black !important;
}
.Toastify__toast-body {
    font-family: "ralewayMedium";
    font-size: 16px;
    color: white;
    text-align: center;
}
.Toastify__close-button {
    display: none;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}
.about-container{
    /* background-color: rgb(226, 17, 226); */
    /* background-color: #ffac00; */
    /* background-color: black; */
    background-color: white;
    position: relative;
    padding: 50px;
    width: 350px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.100);
    /* box-shadow: 8px 8px 0px 0px rgb(0, 0, 0); */
}
.avatar-container{
    position: absolute;
    bottom: -1px;
    margin-left: auto;
    margin-right: auto;
    background: url(./Images/avatar.png);
    background-size: cover;
    width: 180px;
    height: 180px;
}
.avatar{
    width: 100px;
    height: 100px;
}
.about-text{
    font-family: "ralewayMedium";
    font-size: 14px;
    text-align: left;
    word-wrap: break-word;
    margin-top: 0px;
    margin-bottom: -5px;
}
.about-container-baksa-title{
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #ffac00;
    padding: 3px;
}
.horizontal-rule{
    background-color: rgb(47, 47, 47);
    width: 80%;
    height: 1px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.rule-heading{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    font-weight: bold;
    font-family: helvetica, arial, sans-serif;
}
.rule-text{
    font-family: "ralewayMedium";
    font-size: 14px;
    text-align: left;
    word-wrap: break-word;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.credits-text{
    width: 100%;
    text-align: left;
    margin-top: 0px;
    font-family: "ralewayMedium";
    font-size: 14px;
    /* margin-top: 20px; */
}
.priyanshu-modi-text{
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: 0px;
}
@media (hover: hover) {
    .priyanshu-modi-text:hover{
        text-transform: uppercase;
        margin-left: 3px;
    }
    .priyanshu-modi-text:hover::before{
        content: "🧢";
        margin-right: 5px;
        font-size: 10px;
    }
}
.chat-outer-container{
    position: absolute;
    right: 1%;
    bottom: 15%;
    width: 22%;
    height: 75%;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.100);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.chat-role-container{
    width: 90%;
    position: absolute;
    top: 0;
    font-family: -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Oxygen, Ubuntu,
                Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: white;
    padding: 5px;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.chat-main-container{
    /* position: relative; */
    width: 100%;
    height: 80%;
    display: flex;
    margin: 30px 0px 100px 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}
.chat-message-container{
    width: 92%;
    height: fit-content;
    padding: 8px 10px;
    margin: 2px 0px;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
}
.chat-message-text{
    width: 100%;
    font-family: "ralewayMedium";
    font-size: 14px;
    text-align: left;
    word-wrap: break-word;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}
.chat-bottom-container{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;   
    margin-bottom: 20px;
}
.pretyped-messages-container{
    width: 100%;
    height: fit-content;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    overflow-x: scroll;
}
.pretyped-messages-container::-webkit-scrollbar{
    display: none;
}
.pretyped-messages-container{
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
.pretyped-message{
    background-color: rgb(243, 243, 243);
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    margin: 0px 2px;
    border-radius: 10px;
    white-space: nowrap;
    font-family: -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Oxygen, Ubuntu,
                Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
@media (hover: hover) {
    .pretyped-message:hover{
        cursor: pointer;
        background-color:rgb(228, 228, 228);
    }
}
.chat-input-container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-input{
    border: solid 1px black;
    width: 66%;
    height: 30px;
    padding: 0px 10px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Oxygen, Ubuntu,
                Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: bold; */
    font-size: 14px;
    cursor: text;
    transition: all 0.1s ease;
    box-shadow: 5px 5px 0px 1px black;
}
@media (hover: hover) {
    .chat-input:hover{
        background-color: #ffac00;
    }
}
.chat-send-button{
    border: none;
    width: 20%;
    height: 32px;
    margin-right: 5px;
    font-family: -apple-system, BlinkMacSystemFont,
                 'Segoe UI', Roboto, Oxygen, Ubuntu,
                 Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #ffac00;
    box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
    cursor: pointer;
    transition: transform 0.3s ease;
}
@media (hover: hover) {
    .chat-send-button:hover{
        transform: translate(5px, 5px);
        /* background-color: black; */
        /* border: 1px solid white ; */
        box-shadow: 0px 0px 0px 2px black;
        /* color: black; */
    }
}
.chat-button-container-red{
    width: 70px;
    height: 60px;
    position: absolute;
    bottom: 3%;
    right: 2%;
    background-color: #c5183b;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
    transition: all 0.3s ease;
}
.chat-button-container-blue{
    width: 70px;
    height: 60px;
    position: absolute;
    bottom: 3%;
    right: 2%;
    background-color: #3b919b;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
    transition: transform 0.3s ease;
}
@media (hover: hover) {
    .chat-button-container-red:hover, .chat-button-container-blue:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
        transform: translate(5px, 5px);
    }
}
.chat-button{
    background: url("../src/Images/chat-empty.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
@media (hover: hover) {
    .chat-button:hover{
        background: url("../src/Images/chat-filled.png");
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.unread-count-container{
    background-color: #ffac00;
    padding: 2px 5px;
    width: fit-content;
    height: fit-content;
    font-family: -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Oxygen, Ubuntu,
                Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    position: relative;
    bottom: 12%;
    right: 8%;
}
.last-move-button{
    position: absolute;
    top: 3%;
    right: 2%;
    width: 70px;
    height: 60px;
    box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
    background-color: #ffac00;   
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family: -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Oxygen, Ubuntu,
                Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}
.last-move-button::after{
    content: "LAST MOVE"
}
@media (hover: hover) {
    .last-move-button:hover{
        background: url(./Images/last-move.png);
        background-color: rgb(226, 17, 226);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
        transform: translate(5px, 5px);
    }
    .last-move-button:hover::after{
        /* background: url(./Images/last-move.png);
        background-color: rgb(226, 17, 226);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
        transform: translate(5px, 5px); */
        content: "";
    }
}
.dont-leave-page-container{
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dont-leave-page-text{
    width: 60%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Oxygen, Ubuntu,
                Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    padding: 10px;
    background-color: #c5183b;
    border: solid 1px black;
}
.yourTurnText-red{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Oxygen, Ubuntu,
                Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #c5183b;
}
.yourTurnText-blue{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Oxygen, Ubuntu,
                Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #3b919b;
}
.baksa-image-container{
    width: 15px;
    height: 15px;
    background: url("../src/Images/info-empty.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 4px;
}

@media screen and (max-width: 768px) {
    html{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        color: black;
    }
    #root{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #eight-button{
        display: none;
    }
    .mode-button{
        margin: 0px 5px;
    }
    button{
        color: black;
    }
    .winner-outer-container{
        color: white;
    }
}